<?xml version="1.0"?>

<sheet path="Kickle_Pack/Sheets/spring_48x48.png" >
  <common x="0" num_frames="8" width="48" height="48">

    <strip name="top">
      <clip y="0" />
      <frame_times> 0.1 0.1 0.1 0.5 0.1 0.1 0.1 0.1 </frame_times>
    </strip>


    <strip name="bottom">
      <clip y="48" />
      <frame_times> 0.1 0.1 0.1 0.5 0.1 0.1 0.1 0.1 </frame_times>
    </strip>


    <strip name="left">
      <clip y="96" />
      <frame_times> 0.1 0.1 0.1 0.5 0.1 0.1 0.1 0.1 </frame_times>
    </strip>


    <strip name="right">
      <clip y="144" />
      <frame_times> 0.1 0.1 0.1 0.5 0.1 0.1 0.1 0.1 </frame_times>
    </strip>
  
  </common>

</sheet>
