<?xml version="1."?>

<animations>

  <sheet path="Kickle_Pack/Sheets/spring_38x38.png">

      <strip name="top" >
        <clip x="0" y="0" width="39" height="39" />
        <flow num_frames="8" looped="false" />
        <frame_times> 0.05 0.05 0.05 0.2 0.05 0.05 0.05 0.05 </frame_times>
      </strip>

      <strip name="bottom" >
        <clip x="0" y="39" width="39" height="39" />
        <flow num_frames="8" looped="false" />
        <frame_times> 0.05 0.05 0.05 0.2 0.05 0.05 0.05 0.05 </frame_times>
      </strip>

      <strip name="left" >
        <clip x="0" y="78" width="39" height="39" />
        <flow num_frames="8" looped="false" />
        <frame_times> 0.05 0.05 0.05 0.2 0.05 0.05 0.05 0.05 </frame_times>
      </strip>

      <strip name="right" >
        <clip x="0" y="117" width="39" height="39" />
        <flow num_frames="8" looped="false" />
        <frame_times> 0.05 0.05 0.05 0.2 0.05 0.05 0.05 0.05 </frame_times>
      </strip>

  </sheet>
</animations>
